.sidebarProfile {
  margin: 24px 0 24px 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;

  div {
    margin-left: 16px;
    display: flex;
    flex-direction: column;
  }
}

.name {
  font-size: 14px;
  margin: 0;
}

.email {
  font-size: 11px;
  color: gray;
}
