.wrapper {
  display: flex;
  flex-direction: column;

  div {
    display: flex;
    justify-content: space-between;
  }
}

.info {
  display: flex;
  flex-direction: column;

  .name {
    font-size: 20px;
    font-weight: 600;
    color: #0969da;
    text-decoration: none;
    margin-bottom: 20px;

    &:hover {
      text-decoration: underline;
    }
  }

  .description {
    color: #343434;
    font-size: 14px;
  }
}

.graph {

}

.rightSide {
  align-items: end;
  display: flex;
  flex-direction: column;
}
