.wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
}

.label {
    color: rgb(49, 49, 49);
    font-size: 24px;
    text-align: center;
}

.logo {
    fill: rgb(49, 49, 49);
    margin: 5px;
}

.link {
    color: #1570db;
    text-decoration: none;

    &:hover {
        text-decoration: underline;
    }

    &:visited {
        color: #1570db;
    }
}