ul {
  padding: 0;
  margin: 0;
  list-style-type: none;
}

.sidebar {
  display: flex;
  flex-direction: column;
  position: absolute;
  left: 0px;
  top: 0px;
  bottom: 0px;
  background: #ffffff;
  box-shadow: 6px 0px 18px rgba(0, 0, 0, 0.06);
  transition: width 0.15s ease-in-out;
}

.sidebarHeader {
  display: flex;
  align-items: center;
  height: 60px;
  border-bottom: 1px solid #ebeff2;

  p {
    margin-left: 25px;
    font-size: 18px;
    font-weight: 500;
    color: #109cf1;
  }
}

.sidebarMenuItems {
  padding-bottom: 14px;

  li {
    padding-left: 25px;
  }

  li:last-of-type {
    position: absolute;
    bottom: 14px;
  }
}

.settingsMenuItem {
  margin-top: 14px;
  padding-top: 10px;
  border-top: 1px #ebeff2 solid;
}

.toggleSidebarMenuItem {
  span {
    color: #90a0b7;
  }
}
