ul {
  padding: 0;
  margin: 0;
  list-style-type: none;
}

.sidebar {
  display: flex;
  flex-direction: column;
  position: absolute;
  left: 0px;
  top: 0px;
  bottom: 0px;
  background: #ffffff;
  box-shadow: 6px 0px 18px rgba(0, 0, 0, 0.06);
  transition: width 0.15s ease-in-out;
}

.sidebarProfile {
  margin: 24px 0 24px 24px;
  display: flex;
  flex-direction: row;
  align-items: center;

  div {
    margin-left: 16px;
    display: flex;
    flex-direction: column;

    p {
      font-size: 14px;
      margin: 0;
    }

    span {
      font-size: 11px;
      color: gray;
    }
  }
}

.sidebarHeader {
  display: flex;
  align-items: center;
  height: 60px;
  border-bottom: 1px solid #ebeff2;

  p {
    margin-left: 25px;
    font-size: 18px;
    font-weight: 500;
    color: #109cf1;
  }
}

.sidebarMenuItems {
  padding-left: 25px;
  padding-bottom: 14px;
  border-bottom: 1px solid #ebeff2;
}

.extraMenuItems {
  padding-top: 14px;
  padding-left: 25px; 
  padding-bottom: 12px;
  display: flex;
  flex: 1;
  flex-direction: column;
  justify-content: space-between;
}

.sidebarMenuItem {
  display: flex;
  align-items: center;
  font-weight: 500;
  height: 35px;
  visibility: visible;
  transition: color 0.15s ease-in-out;
  cursor: pointer;

  &:hover {
    color: #109CF1;
    
    svg {
      path {
        transition: stroke 0.15s ease-in-out;
        stroke: #109CF1;
      }
    }
  }

  span {
    font-size: 13px;
    margin-left: 16px;
  }
}
