.wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 300px;
}

.input {
  display: flex;
  flex-direction: column;
}

form {
  background: #f6f8fa;
  border: 1px solid rgb(221, 221, 221);
  border-radius: 6px;
  padding: 16px;
}
