.container {
  display: flex;
  align-items: center;
  justify-content: center;
  background: #2da44e;
  border-radius: 6px;
  height: 32px;

  &:hover {
    background: #2e984a;
  }

  p {
    font-weight: 400;
    color: #ffffff;
    text-align: center;
  }
}