.wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 32px;
}

.button {
  background: #2da44e;
  border-radius: 6px;
  border: 1px solid #1d853a;
  padding: 0;
  margin: 0;
  width: 100%;
  height: inherit;
  font-size: 15px;
  color: rgb(243, 243, 243);
  font-weight: 400;

  &:hover {
    transition: background-color 50ms linear;
    background: #2e984a;
  }

  &:disabled {
    color: rgb(223, 223, 223);
    background: #1a8837;
  }
}
